/**
    Estilos generales para el Plugins de RD Galrias v1.0

 */


/**
    Include Files Fonts
*/
/* -> Roboto */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
    font-weight: normal;
}
/* -> Raleway */
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Regular.ttf');
    font-weight: normal;
}
/* -> Open Sans */
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
    font-weight: normal;
}


/**
    Style General Gallery
 */
.rd-galleria-continaer{
    width: 100%;
}
.rd-galleria-continaer .rd_galeria{
    margin: 0 auto;
}
.rd-galleria-continaer .rd-glaria-title{
    font-family: 'OpenSans', sans-serif;
    font-size: 28px;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
}
.rd-galleria-continaer .rd_galeria{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    overflow: hidden;
}
.rd-galleria-continaer .rd_galeria .rd_galeria_item .rd_galeria_info h2{
    font-family: 'Raleway', sans-serif;
}
.rd-galleria-continaer .rd_galeria .rd_galeria_item .rd_galeria_info p{
    font-family: 'Raleway', sans-serif;
}
figure figcaption div a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.default_styles figure{
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    width: 48%;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}
.default_styles figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.default_styles figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}
/**
    Style for Gallery (Default Styles)
 */
.rd_galeria.default-styles{

}
.rd_galeria.default_styles .rd_galeria_item.w_item_4{
    width: 23.555%; /* 4 (Item) */
}
.rd_galeria.default_styles .rd_galeria_item.w_item_3{
    width: 30.555%; /* 3 (Item) */
}
.rd_galeria.default_styles .rd_galeria_item.w_item_2{
    width: 45.555%; /* 2 (Item) *!*/
}
.rd_galeria.default_styles .rd_galeria_item.h_item_auto{
    height: auto;
}
.rd_galeria.default_styles .rd_galeria_item.h_item_300{
    height: 300px;
}
.rd_galeria.default_styles .rd_galeria_item.h_item_400{
    height: 400px;
}
.rd_galeria.default_styles .rd_galeria_item.h_item_500{
    height: 500px;
}
.rd_galeria.default_styles .rd_galeria_item.h_item_600{
    height: 600px;
}
.rd_galeria.default_styles .rd_galeria_item{
    overflow: hidden;
    cursor: pointer;
}
.rd_galeria.default_styles .rd_galeria_item.h_item_300 img,
.rd_galeria.default_styles .rd_galeria_item.h_item_400 img,
.rd_galeria.default_styles .rd_galeria_item.h_item_500 img,
.rd_galeria.default_styles .rd_galeria_item.h_item_600 img{
    height: 100%;
    object-fit: cover;
}
.rd_galeria.default_styles .rd_galeria_info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 768px) {
    .rd_galeria.default_styles .rd_galeria_item,
    .rd_galeria.default_styles .rd_galeria_item_size{
        width: 48%!important;
    }

}
@media screen and (max-width: 425px) {
    .rd_galeria.default_styles .rd_galeria_item,
    .rd_galeria.default_styles .rd_galeria_item_size{
        width: 100%!important;
    }

}

/* Individual effects */

/*---------------*/
/***** Lily *****/
/*---------------*/
.default_styles figure.effect-lily img {
    max-width: none;
    width: -webkit-calc(100% + 50px);
    width: calc(100% + 50px);
    opacity: 0.7;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-40px,0, 0);
    transform: translate3d(-40px,0,0);
}

.default_styles figure.effect-lily figcaption {
    text-align: left;
}

.default_styles figure.effect-lily figcaption > div {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    height: auto;
}

.default_styles figure.effect-lily h2,
.default_styles figure.effect-lily p {
    margin: 0;
    padding: 0;
    -webkit-transform: translate3d(0,40px,0);
    transform: translate3d(0,40px,0);
}

.default_styles figure.effect-lily h2 {
    color: #ffffff;
    margin-bottom: 8px;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

.default_styles figure.effect-lily p {
    color: #ffffff;
    opacity: 0;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
    transition: opacity 0.2s, transform 0.35s;
}

.default_styles figure.effect-lily:hover img,
.default_styles figure.effect-lily:hover p {
    opacity: 1;
}

.default_styles figure.effect-lily:hover img,
.default_styles figure.effect-lily:hover h2,
.default_styles figure.effect-lily:hover p {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.default_styles figure.effect-lily:hover p {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
}

/*---------------*/
/***** Sadie *****/
/*---------------*/

.default_styles figure.effect-sadie figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
    background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
    content: '';
    opacity: 0;
    -webkit-transform: translate3d(0,50%,0);
    transform: translate3d(0,50%,0);
}
.default_styles figure.effect-sadie h2 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    color: #484c61;
    -webkit-transition: -webkit-transform 0.35s, color 0.35s;
    transition: transform 0.35s, color 0.35s;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}
.default_styles figure.effect-sadie figcaption::before,
.default_styles figure.effect-sadie p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}
.default_styles figure.effect-sadie p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    opacity: 0;
    -webkit-transform: translate3d(0,10px,0);
    transform: translate3d(0,10px,0);
}
.default_styles figure.effect-sadie:hover h2 {
    color: #fff;
    -webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
    transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}
.default_styles figure.effect-sadie:hover figcaption::before ,
.default_styles figure.effect-sadie:hover p {
    color: #ffffff;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/*---------------*/
/***** Roxy *****/
/*---------------*/

.default_styles figure.effect-roxy {
    background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
    background: linear-gradient(45deg, #ff89e9 0%,#05abe0 100%);
}

.default_styles figure.effect-roxy img {
    max-width: none;
    width: -webkit-calc(100% + 60px);
    width: calc(100% + 60px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50px,0,0);
    transform: translate3d(-50px,0,0);
}

.default_styles figure.effect-roxy figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 1px solid #fff;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-20px,0,0);
    transform: translate3d(-20px,0,0);
}

.default_styles figure.effect-roxy figcaption {
    padding: 3em;
    text-align: left;
}
.default_styles figure.effect-roxy h2 {
    color: #fff;
    text-transform: uppercase;
    padding: 30% 0 10px 0;
}

.default_styles figure.effect-roxy p {
    color: #fff;
    text-transform: uppercase;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
}

.default_styles figure.effect-roxy:hover img {
    opacity: 0.7;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.default_styles figure.effect-roxy:hover figcaption::before,
.default_styles figure.effect-roxy:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/*---------------*/
/***** Bubba *****/
/*---------------*/

.default_styles figure.effect-bubba {
    background: #9e5406;
}

.default_styles figure.effect-bubba img {
    opacity: 0.7;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

.default_styles figure.effect-bubba:hover img {
    opacity: 0.4;
}

.default_styles figure.effect-bubba figcaption::before,
.default_styles figure.effect-bubba figcaption::after {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

.default_styles figure.effect-bubba figcaption::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}

.default_styles figure.effect-bubba figcaption::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
}

.default_styles figure.effect-bubba h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding-top: 30%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,-20px,0);
    transform: translate3d(0,-20px,0);
}

.default_styles figure.effect-bubba p {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 2.5em;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
}

.default_styles figure.effect-bubba:hover figcaption::before,
.default_styles figure.effect-bubba:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.default_styles figure.effect-bubba:hover h2,
.default_styles figure.effect-bubba:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/*---------------*/
/***** Romeo *****/
/*---------------*/

.default_styles figure.effect-romeo {
    background: #3085a3;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.default_styles figure.effect-romeo img {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,0,300px);
    transform: translate3d(0,0,300px);
}

.default_styles figure.effect-romeo:hover img {
    opacity: 0.6;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.default_styles figure.effect-romeo figcaption::before,
.default_styles figure.effect-romeo figcaption::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 1px;
    background: #fff;
    content: '';
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}

.default_styles figure.effect-romeo:hover figcaption::before {
    opacity: 0.5;
    -webkit-transform: translate3d(-50%,-50%,0) rotate(45deg);
    transform: translate3d(-50%,-50%,0) rotate(45deg);
}

.default_styles figure.effect-romeo:hover figcaption::after {
    opacity: 0.5;
    -webkit-transform: translate3d(-50%,-50%,0) rotate(-45deg);
    transform: translate3d(-50%,-50%,0) rotate(-45deg);
}

.default_styles figure.effect-romeo h2,
.default_styles figure.effect-romeo p {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

.default_styles figure.effect-romeo h2 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    -webkit-transform: translate3d(0,-50%,0) translate3d(0,-150%,0);
    transform: translate3d(0,-50%,0) translate3d(0,-150%,0);
}

.default_styles figure.effect-romeo p {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 0.25em 2em;
    -webkit-transform: translate3d(0,-50%,0) translate3d(0,150%,0);
    transform: translate3d(0,-50%,0) translate3d(0,150%,0);
}

.default_styles figure.effect-romeo:hover h2 {
    -webkit-transform: translate3d(0,-50%,0) translate3d(0,-100%,0);
    transform: translate3d(0,-50%,0) translate3d(0,-100%,0);
}

.default_styles figure.effect-romeo:hover p {
    -webkit-transform: translate3d(0,-50%,0) translate3d(0,100%,0);
    transform: translate3d(0,-50%,0) translate3d(0,100%,0);
}

/*---------------*/
/***** Layla *****/
/*---------------*/

.default_styles figure.effect-layla {
    background: #18a367;
}

.default_styles figure.effect-layla img {
    height: auto;
}

.default_styles figure.effect-layla figcaption {
    padding: 3em;
}

.default_styles figure.effect-layla figcaption::before,
.default_styles figure.effect-layla figcaption::after {
    position: absolute;
    content: '';
    opacity: 0;
}

.default_styles figure.effect-layla figcaption::before {
    top: 50px;
    right: 30px;
    bottom: 50px;
    left: 30px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.default_styles figure.effect-layla figcaption::after {
    top: 30px;
    right: 50px;
    bottom: 30px;
    left: 50px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.default_styles figure.effect-layla h2 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding-top: 15%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

.default_styles figure.effect-layla p {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 0.5em 2em;
    text-transform: none;
    opacity: 0;
    -webkit-transform: translate3d(0,-10px,0);
    transform: translate3d(0,-10px,0);
}

.default_styles figure.effect-layla img,
.default_styles figure.effect-layla h2 {
    -webkit-transform: translate3d(0,-30px,0);
    transform: translate3d(0,0,0);
}

.default_styles figure.effect-layla img,
.default_styles figure.effect-layla figcaption::before,
.default_styles figure.effect-layla figcaption::after,
.default_styles figure.effect-layla p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

.default_styles figure.effect-layla:hover img {
    opacity: 0.7;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.default_styles figure.effect-layla:hover figcaption::before,
.default_styles figure.effect-layla:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.default_styles figure.effect-layla:hover h2,
.default_styles figure.effect-layla:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.default_styles figure.effect-layla:hover figcaption::after,
.default_styles figure.effect-layla:hover h2,
.default_styles figure.effect-layla:hover p,
.default_styles figure.effect-layla:hover img {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

/*---------------*/
/***** Honey *****/
/*---------------*/

.default_styles figure.effect-honey {
    background: #4a3753;
}

.default_styles figure.effect-honey img {
    opacity: 0.9;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

.default_styles figure.effect-honey:hover img {
    opacity: 0.5;
}

.default_styles figure.effect-honey figcaption::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: #fff;
    content: '';
    -webkit-transform: translate3d(0,10px,0);
    transform: translate3d(0,10px,0);
}

.default_styles figure.effect-honey h2 {
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1em 1.5em;
    width: 100%;
    text-align: left;
    -webkit-transform: translate3d(0,-30px,0);
    transform: translate3d(0,-30px,0);
}

.default_styles figure.effect-honey h2 i {
    color: #fff;
    text-transform: uppercase;
    font-style: normal;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,-30px,0);
    transform: translate3d(0,-30px,0);
}

.default_styles figure.effect-honey p {
    display: none;
}

.default_styles figure.effect-honey figcaption::before,
.default_styles figure.effect-honey h2 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

.default_styles figure.effect-honey:hover figcaption::before,
.default_styles figure.effect-honey:hover h2,
.default_styles figure.effect-honey:hover h2 i {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/*---------------*/
/***** Oscar *****/
/*---------------*/

.default_styles figure.effect-oscar {
    background: -webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
    background: linear-gradient(45deg, #22682a 0%,#9b4a1b 40%,#3a342a 100%);
}

.default_styles figure.effect-oscar img {
    opacity: 0.9;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

.default_styles figure.effect-oscar figcaption {
    padding: 3em;
    background-color: rgba(58,52,42,0.7);
    -webkit-transition: background-color 0.35s;
    transition: background-color 0.35s;
}

.default_styles figure.effect-oscar figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 1px solid #fff;
    content: '';
}

.default_styles figure.effect-oscar h2 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin: 14% 0 10px 0;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}

.default_styles figure.effect-oscar figcaption::before,
.default_styles figure.effect-oscar p {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.default_styles figure.effect-oscar:hover h2 {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.default_styles figure.effect-oscar:hover figcaption::before,
.default_styles figure.effect-oscar:hover p {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.default_styles figure.effect-oscar:hover figcaption {
    background-color: rgba(58,52,42,0);
}

.default_styles figure.effect-oscar figcaption > div {

}

.default_styles figure.effect-oscar:hover img {
    opacity: 0.4;
}

/*---------------*/
/***** Marley *****/
/*---------------*/
.default_styles figure.effect-marley figcaption {
    text-align: right;
}

.default_styles figure.effect-marley h2,
.default_styles figure.effect-marley p {
    position: absolute;
    right: 30px;
    left: 30px;
    padding: 10px 0;
}

.default_styles figure.effect-marley p {
    color: #fff;
    text-transform: uppercase;
    bottom: 30px;
    line-height: 1.5;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}

.default_styles figure.effect-marley h2 {
    color: #fff;
    text-transform: uppercase;
    top: 30px;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
}

.default_styles figure.effect-marley:hover h2 {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.default_styles figure.effect-marley h2::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    background: #fff;
    content: '';
    -webkit-transform: translate3d(0,40px,0);
    transform: translate3d(0,40px,0);
}

.default_styles figure.effect-marley h2::after,
.default_styles figure.effect-marley p {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

.default_styles figure.effect-marley:hover h2::after,
.default_styles figure.effect-marley:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
/*---------------*/
/***** Ruby *****/
/*---------------*/

.default_styles figure.effect-ruby {
    background-color: #17819c;
}

.default_styles figure.effect-ruby img {
    opacity: 0.7;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

.default_styles figure.effect-ruby:hover img {
    opacity: 0.5;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.default_styles figure.effect-ruby h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-top: 12%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
}

.default_styles figure.effect-ruby p {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 1em 0 0;
    padding: 1em;
    border: 1px solid #fff;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,20px,0) scale(1.1);
    transform: translate3d(0,20px,0) scale(1.1);
}

.default_styles figure.effect-ruby:hover h2 {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.default_styles figure.effect-ruby:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0) scale(1);
    transform: translate3d(0,0,0) scale(1);
}

/*---------------*/
/***** Milo *****/
/*---------------*/

.default_styles figure.effect-milo {
    background: #2e5d5a;
}
.default_styles figure.effect-milo img {
    max-width: none;
    width: -webkit-calc(100% + 60px);
    width: calc(100% + 60px);
    opacity: 1;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-30px,0,0) scale(1.12);
    transform: translate3d(-30px,0,0) scale(1.12);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.default_styles figure.effect-milo:hover img {
    opacity: 0.5;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
}
.default_styles figure.effect-milo h2 {
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1em 1.2em;
}
.default_styles figure.effect-milo p {
    color: #fff;
    text-transform: uppercase;
    padding: 0 10px 0 0;
    width: 50%;
    border-right: 1px solid #fff;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-40px,0,0);
    transform: translate3d(-40px,0,0);
}
.default_styles figure.effect-milo:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/*---------------*/
/***** Dexter *****/
/*---------------*/
.default_styles figure.effect-dexter {
    background: -webkit-linear-gradient(top, rgba(37,141,200,1) 0%, rgba(104,60,19,1) 100%);
    background: linear-gradient(to bottom, rgba(37,141,200,1) 0%,rgba(104,60,19,1) 100%);
}
.default_styles figure.effect-dexter img {
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}
.default_styles figure.effect-dexter:hover img {
    opacity: 0.4;
}
.default_styles figure.effect-dexter figcaption::after {
    position: absolute;
    right: 30px;
    bottom: 30px;
    left: 30px;
    height: -webkit-calc(50% - 30px);
    height: calc(50% - 30px);
    border: 7px solid #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
}
.default_styles figure.effect-dexter:hover figcaption::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.default_styles figure.effect-dexter figcaption {
    padding: 3em;
    text-align: left;
}
.default_styles figure.effect-dexter p {
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    right: 60px;
    bottom: 60px;
    left: 60px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,-100px,0);
    transform: translate3d(0,-100px,0);
}
.default_styles figure.effect-dexter:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/*---------------*/
/***** Sarah *****/
/*---------------*/
.default_styles figure.effect-sarah {
    background: #42b078;
}
.default_styles figure.effect-sarah img {
    max-width: none;
    width: -webkit-calc(100% + 20px);
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.default_styles figure.effect-sarah:hover img {
    opacity: 0.4;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.default_styles figure.effect-sarah figcaption {
    text-align: left;
}
.default_styles figure.effect-sarah h2 {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    padding: 0.5em 0;
}
.default_styles figure.effect-sarah h2::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}
.default_styles figure.effect-sarah:hover h2::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.default_styles figure.effect-sarah p {
    color: #fff;
    text-transform: uppercase;
    padding: 0;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
}
.default_styles figure.effect-sarah:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/*---------------*/
/***** Zoe *****/
/*---------------*/

.default_styles figure.effect-zoe figcaption {
    top: auto;
    bottom: 0;
    padding: 1em;
    height: 3.75em;
    background: #fff;
    color: #3c4a50;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}

.default_styles figure.effect-zoe h2 {

    float: left;
}

.default_styles figure.effect-zoe p.icon-links a {
    color: #fff;
    text-transform: uppercase;
    float: right;
    color: #3c4a50;
    font-size: 1.4em;
}

.default_styles figure.effect-zoe:hover p.icon-links a:hover,
.default_styles figure.effect-zoe:hover p.icon-links a:focus {
    color: #252d31;
}

.default_styles figure.effect-zoe p.description {
    position: absolute;
    bottom: 8em;
    padding: 2em;
    color: #fff;
    text-transform: none;
    font-size: 90%;
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    -webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
}

.default_styles figure.effect-zoe h2,
.default_styles figure.effect-zoe p.icon-links a {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,200%,0);
    transform: translate3d(0,200%,0);
}

.default_styles figure.effect-zoe p.icon-links a span::before {
    display: inline-block;
    padding: 8px 10px;
    font-family: 'feathericons';
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-eye::before {
    content: '\e000';
}

.icon-paper-clip::before {
    content: '\e001';
}

.icon-heart::before {
    content: '\e024';
}

.default_styles figure.effect-zoe h2 {
    display: inline-block;
}

.default_styles figure.effect-zoe:hover p.description {
    opacity: 1;
}

.default_styles figure.effect-zoe:hover figcaption,
.default_styles figure.effect-zoe:hover h2,
.default_styles figure.effect-zoe:hover p.icon-links a {
    -webkit-transform: translate3d(0,60%,0);
    transform: translate3d(0,60%,0);
}

.default_styles figure.effect-zoe:hover h2 {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.default_styles figure.effect-zoe:hover p.icon-links a:nth-child(3) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.default_styles figure.effect-zoe:hover p.icon-links a:nth-child(2) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.default_styles figure.effect-zoe:hover p.icon-links a:first-child {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

/*---------------*/
/***** Chico *****/
/*---------------*/
.default_styles figure.effect-chico img {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
}

.default_styles figure.effect-chico:hover img {
    opacity: 0.5;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.default_styles figure.effect-chico figcaption {
    padding: 3em;
}

.default_styles figure.effect-chico figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 1px solid #fff;
    content: '';
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.default_styles figure.effect-chico figcaption::before,
.default_styles figure.effect-chico p {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

.default_styles figure.effect-chico h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 13% 0 20px 0;
}

.default_styles figure.effect-chico p {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.default_styles figure.effect-chico:hover figcaption::before,
.default_styles figure.effect-chico:hover p {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
